* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(250, 250, 250);
}

.app-container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.corona-image {
	width: 370px;
	margin-top: 50px;
}

@media screen and (max-width: 770px) {
	.app-container {
		margin: 0 10%;
	}
	.corona-image {
		width: 100%;
	}
}
